// @import "normalize.css'

// ==> variables.styl <==
$body-color = #222222
$header-line-color = #35101A
// Default title-color = #CA314D
$title-color = #1F1CA2
// Default $description-color = #FDF2E4
$description-color = #A21F1C
// Default $header-li-color = #CA314D
$header-li-color = #1F1CA2
// Default $body-link-hover-color = #CA314D
$body-link-hover-color = #1F1CA2
// Default $link-article-color = #CA314D
$link-article-color = #1F1CA2

$bg-color = #F7F6F5

$link-color = #1F1CA2
$footer-link-color = #A21F1C
$social-icons-color = #A21F1C
$header-highlight-color = #A21F1C
$img-border-color = #A21F1C

// ==> screen.styl <==
body
  color $body-color
  margin 0
  height 100vh
  font-size 16px
  flex-direction column
  .backstretch
    opacity .7

@media (min-width 720px)
  body
    display flex
    flex-direction row
    .backstretch
      opacity .5

header, main
  overflow-y auto
  -webkit-overflow-scrolling touch
  padding 20px

// ==> header.styl <==
@keyframes slide
  0%
    transform translate3d(0, 0, 0)
  100%
    transform translate3d(-240px, -240px, 0)

header
  flex .5
  overflow hidden
  position relative
  text-align center
  a, h1, p, nav
    position relative
    z-index 2
  img.logo
    width 72px
    height 72px
    border-radius 50%
  a
    color $header-line-color
  h1
    font-size 3.5em
    margin-top 20px
    line-height 1em
    letter-spacing -1px
    text-shadow 0 1px 6px hsla(0, 0, 0, .5)
    a
      color $title-color
  p
    color $description-color
    letter-spacing 0
    margin 0
    text-shadow 0 1px 3px hsla(0, 0, 0, .35)
    font-size 2em
  nav
    ul
      list-style none
      margin 0
      padding 0
      li
        color $header-line-color
        display inline-block
        padding 12px 0 12px 12px
        font-size 1.3em
        &:after
          content '.'
          padding-left 12px
        &:last-child
          &:after
            content ''
        a
          color $header-li-color
        a:hover
          text-decoration underline
    .social-icon
      margin-top 10px
      font-size 1.5em
      a
        margin 4px
        color $social-icons-color
        &:hover
          color $title-color
          transition color .3s ease
  .space
    animation slide 8s linear infinite
    background-image url('../images/stars.svg')
    background-position center center
    background-size 240px
    height 400%
    left 0
    position absolute
    top 0
    width 400%
    z-index 1

@media (min-width 720px)
  body
    header
      flex 1
      overflow hidden
      text-align right
      padding 40px
    nav
      ul
        padding-top 24px
        li
          display block
          line-height 1.6em
          padding 0
          &:after
            content ''
            padding 0

// ==> main.styl <==
main
  background $bg-color
  flex 2
  hypens auto
  overflow-x hidden
  padding 20px
  text-align left
  word-break normal
  word-wrap break-word
  a.article
    color $body-color
    &:last-of-type
      article
        border none
        &:after
          background none
          border none
          box-shadow none
          padding-bottom 20px
    &:hover h2
      transition color .3s ease
      color $body-link-hover-color
  .post-meta
    color #a4a4a4
    display inline-block
    margin 0
    font-size 0.6em
  article
    img
      border $img-border-color solid 1px
  article.item
    border-bottom 1px solid hsla(0, 0, 0, .15)
    color $body-color
    h2
      break-word normal
      color $body-color
      margin-bottom 16px
      word-wrap break-word
    h2
      font-size 2.3em
      letter-spacing -1px
      line-height 1.2em
      text-indent -2px
    p.post-excerpt
      font-size 1em
      margin 16px 0 0 0
    &:after
      display block
      content ''
      width 7px
      height 7px
      border darken($bg-color, 12%) 1px solid
      position relative
      top 5px
      left 50%
      margin-left -5px
      background darken($bg-color, 15%)
      border-radius 100%
      box-shadow $bg-color 0 0 0 5px
  div.pagination
    margin-top 20px
    > *
      margin 0 5px
    a
      color lighten($body-link-hover-color, 45%)
    a:hover
      transition color .3s ease
      color $body-link-hover-color
  .article-toc
    box-sizing border-box
    max-width 100%
    min-width 100%
    width 100%
    float right
    border-radius 15px
    border 1px solid #d3d3d3
    padding 2rem
    margin-left 20px
    ol
      list-style none
      list-style-position inside
      padding 0
      padding-left 15px
  footer
    &:before
      clear both
    border-radius 15px
    margin-top 20px
    text-align center
    position relative
    padding 4rem 0
    border 1px solid #d3d3d3
    font-size 1em
    line-height 2.1em
    color #8a8a8a
    background #ececec
    a
      color $footer-link-color
      font-weight 700
    .copyright
      color #737373
      font-weight 500
    .intro
      font-size 0.7em

@media (min-width 720px)
  body
    main
      flex 2
      padding 40px
      article.item
        padding 40px
        &:after
          top 45px
      .article-toc
        max-width 50%
        min-width 50%
        width 50%

// ==> basic.styl <==
a
  color: #1f1ca2;
i.fa
  padding-bottom 0
  border-bottom 0
  font-family FontAwesome
article.full
  a
    color $link-color
    transition color ease .3s
    &:hover
      color $link-article-color
      border-bottom 1px dotted
  hr
    display block
    height 1px
    border 0
    border-top darken($bg-color, 15%) 1px solid
    margin 40px 0
    padding 0
    &:after
      display block
      content ''
      width 7px
      height 7px
      border darken($bg-color, 12%) 1px solid
      position relative
      top -5px
      left 50%
      margin-left -5px
      background darken($bg-color, 15%)
      border-radius 100%
      box-shadow $bg-color 0 0 0 5px
  ul, ol, dl, table
    margin 20px 0
  ol ol, ul ul, ul ol, ol ul
    margin 5px 0
  dl dt
    clear left
    float left
    font-weight bold
    margin-bottom 12px
    overflow hidden
    text-align right
    text-overflow ellipsis
    white-space nowrap
    width 180px
  dl dd
    margin-left 200px
    margin-bottom 12px
  blockquote
    overflow auto
    border-left #bd2f3b 3px solid
    padding-left 2em
    padding-right 2em
    background darken($bg-color, 3%)
    border-radius 5px
    margin-left 0
  img
    border-radius 3px
    height auto
    margin-top 20px
    max-width 70%
  code
    font-family Hack, monospace
  p code,
  li code
    background #282828
    border-radius 5px
    color #fff
    padding-left 5px
    padding-right 5px
    padding-top 3px
    padding-bottom 3px
  li
    text-align left
  .hljs
    line-height 1.2em
    border-radius 5px
    padding-left 20px
    padding-right 20px

// ==> duoshuo.styl <==
#ds-thread
  #ds-reset
    .ds-highlight
      color $body-link-hover-color !important
    a.ds-like-thread-button
      border-radius 3px
    li.ds-tab
      a.ds-current
        border-radius 3px
    .ds-comments
      .ds-avatar img
        border-radius 50%
        background none
    #ds-bubble
      border-radius 5px !important
      a
        color #919191 !important
    .ds-replybox
      .ds-avatar img
        border-radius 50%
      form
        .ds-rounded-top
          border-top-left-radius 5px
          border-top-right-radius 5px
          -webkit-border-top-left-radius 5px
          -webkit-border-top-right-radius 5px
        div.ds-post-toolbar
          div.ds-post-options
            border-bottom-left-radius 5px
            -webkit-border-bottom-left-radius 5px
            border-bottom-right-radius 5px
            -webkit-border-bottom-right-radius 5px
          button.ds-post-button
            border-bottom-right-radius 5px
            -webkit-border-bottom-right-radius 5px
