$body-color = #222222
$header-line-color = #35101A
// Default title-color = #CA314D
$title-color = #1F1CA2
// Default $description-color = #FDF2E4
$description-color = #A21F1C
// Default $header-li-color = #CA314D
$header-li-color = #1F1CA2
// Default $body-link-hover-color = #CA314D
$body-link-hover-color = #1F1CA2
// Default $link-article-color = #CA314D
$link-article-color = #1F1CA2

$bg-color = #F7F6F5

$link-color = #1F1CA2
$footer-link-color = #A21F1C
$social-icons-color = #A21F1C
$header-highlight-color = #A21F1C
$img-border-color = #A21F1C
