doctype html
html(lang= theme["han_type"]).han-init
  head
    include partial/_head.pug
    include _mixins.pug
  body
    header
      include partial/_header.pug
      div.space
    main
      include partial/_content.pug
    include partial/_scripts.pug
