section.copyright
  | &copy; 2016 -
  = full_date(new Date(), ' YYYY')
  | &nbsp;
  a(href= config.root)= config.author
  | &nbsp;
  = theme.footer_note
section.intro
  | Powered by&nbsp;
  a(href='https://hexo.io/') Hexo
  | &nbsp;&middot; Using&nbsp;
  a(href='https://github.com/xadillax/hexo-xnew') X'new
  | &nbsp;Design
  if config.feed && config.feed.url
    | &nbsp;&middot;&nbsp;
    a(href= config.feed.url) RSS Feed
  else if theme.icon.rss
    | &nbsp;&middot;&nbsp;
    a(href= theme.icon.rss) RSS Feed
