script(src='https://cdnjs.cloudflare.com/ajax/libs/Han/3.3.0/han.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
script(src= config.root + 'scripts/highlight.pack.js')
script!= "var _site_root = \"" + config.root + "\";"
script!= "var backgrounds = \"" + theme.backgrounds + "\";"
script.
    backgrounds = backgrounds.split(',')
    var background = backgrounds[Math.floor(Math.random() * backgrounds.length)];
    $(function() {
        $("header").backstretch(_site_root + background);

        $("figure.highlight").each(function(i, block) {
            $(block).removeClass("highlight");
            $("<pre><code class='__tobehl " + ($(block).attr("class") === "plain" ? "" : ("lang-" + $(block).attr("class"))) + "'></code></pre>").insertAfter($(block));
            $(block).next().find("code").text((block.innerText || block.textContent));
            $(block).remove();
        });
        $(".__tobehl").each(function(i, block) {
            hljs.highlightBlock(block);
            $(block).addClass("hljs");
        });

        $("article.full img").each(function() {
            $(this).parent().css("text-align", "center");
        });

        if($(".article-toc").children().length < 2) {
            $(".article-toc").css("display", "none");
        }
        $('article').find('img').each(function(){
            if ($(this).parent().attr('data-featherlight')) {
                return;
            }
            var alt = this.alt;

            $(this).wrap('<a href="#" title="' + alt + '" data-featherlight="' + this.src + '"></a>');
        });
    });
script(src='https://cdnjs.cloudflare.com/ajax/libs/featherlight/1.7.6/featherlight.min.js')
